*{
    background-color: black;
}

.box{
   height: 100vh;
    margin: 0 auto;
    width: 100vw;
    padding: 20px 10px;
    text-align: center;
    font-family:sans-serif;
    /* background-color:black; */
    border-radius: 20px;
justify-content: center;    
   
   
}
.title{
    color:rgb(245, 240, 240);
    font-size: 36px;
 margin-bottom: 10px;   
}
.timer{
    font-size: 72px;
    color: crimson;
}
button{
    font-size: 18px;
    padding: 10px 20px ;
    margin: 10px;
    color: aliceblue;
   
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
    text-transform: uppercase;


}
button:hover{
  opacity: .7;
   background-color: blue;
}
#start{
    background-color: green;

}
#stop{
    background-color: red;
}
#reset{
    background-color: grey;
}